<div class="d-flex flex-column justify-content-between align-items-between">
<p class="text-center fs-2 fw-bold">Categories Registration</p>

<%= form_with url: categories_path, model: @category, method: :post, class: 'p-2 m-4' do |f|%>
  <%if @category.errors.any?%>

    <div class='alert alert-danger'>
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>

    <% @category.errors.full_messages.each do |msg|%>
      <p><%=msg%></p>
     <%end%>
    </div>
  <%end%>
    <%= form_with model: @category, class: "d-flex flex-column justify-content-between align-items-between" do |form| %>
    <div class="mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :icon, class: "form-label" %>
      <%= form.text_field :icon, class: "form-control", placeholder: "Icon URL" %>
    </div>

    <%= form.submit class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Back", categories_path, class: "btn btn-secondary mt-2" %>
<%end%>